.u-section-1 .u-sheet-1 {
  min-height: 1247px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 621px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 409px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 13px 14px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 12px 113px 0 14px;
}

.u-section-1 .u-group-1 {
  width: 74px;
  min-height: 50px;
  height: auto;
  background-image: none;
  margin: 18px 0 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 24px;
  height: 24px;
  margin: 11px 13px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 20px;
  height: 20px;
  margin: -22px auto 0 4px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: -33px 113px 0 85px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: -16px auto 0 11px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 621px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 409px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 13px 14px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 12px 113px 0 14px;
}

.u-section-1 .u-group-2 {
  width: 74px;
  min-height: 50px;
  height: auto;
  background-image: none;
  margin: 18px 0 0 auto;
}

.u-section-1 .u-icon-3 {
  width: 24px;
  height: 24px;
  margin: 11px 13px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 20px;
  height: 20px;
  margin: -22px auto 0 4px;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: -33px 113px 0 85px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: -16px auto 0 11px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 621px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 409px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 13px 14px 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 12px 113px 0 14px;
}

.u-section-1 .u-group-3 {
  width: 74px;
  min-height: 50px;
  height: auto;
  background-image: none;
  margin: 18px 0 0 auto;
}

.u-section-1 .u-icon-5 {
  width: 24px;
  height: 24px;
  margin: 11px 13px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 20px;
  height: 20px;
  margin: -22px auto 0 4px;
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: -33px 113px 0 85px;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: -16px auto 0 11px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 446px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 409px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  margin: 13px 14px 0;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 12px 113px 0 14px;
}

.u-section-1 .u-group-4 {
  width: 74px;
  min-height: 50px;
  height: auto;
  background-image: none;
  margin: 18px 0 0 auto;
}

.u-section-1 .u-icon-7 {
  width: 24px;
  height: 24px;
  margin: 11px 13px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  width: 20px;
  height: 20px;
  margin: -22px auto 0 4px;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  margin: -33px 113px 0 85px;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: -16px auto 0 11px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 446px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 409px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  margin: 13px 14px 0;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: 12px 113px 0 14px;
}

.u-section-1 .u-group-5 {
  width: 74px;
  min-height: 50px;
  height: auto;
  background-image: none;
  margin: 18px 0 0 auto;
}

.u-section-1 .u-icon-9 {
  width: 24px;
  height: 24px;
  margin: 11px 13px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-10 {
  width: 20px;
  height: 20px;
  margin: -22px auto 0 4px;
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  margin: -33px 113px 0 85px;
}

.u-section-1 .u-text-20 {
  font-size: 1rem;
  margin: -16px auto 0 11px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 446px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 409px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-21 {
  font-size: 1rem;
  margin: 13px 14px 0;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: 12px 113px 0 14px;
}

.u-section-1 .u-group-6 {
  width: 74px;
  min-height: 50px;
  height: auto;
  background-image: none;
  margin: 18px 0 0 auto;
}

.u-section-1 .u-icon-11 {
  width: 24px;
  height: 24px;
  margin: 11px 13px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-12 {
  width: 20px;
  height: 20px;
  margin: -22px auto 0 4px;
  padding: 0;
}

.u-section-1 .u-text-23 {
  font-size: 1rem;
  margin: -33px 113px 0 85px;
}

.u-section-1 .u-text-24 {
  font-size: 1rem;
  margin: -16px auto 0 11px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-1 .u-image-1 {
    height: 337px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 80px;
    margin-left: 51px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 512px;
  }

  .u-section-1 .u-image-2 {
    height: 337px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 80px;
    margin-left: 51px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 512px;
  }

  .u-section-1 .u-image-3 {
    height: 337px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 80px;
    margin-left: 51px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 368px;
  }

  .u-section-1 .u-image-4 {
    height: 337px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 80px;
    margin-left: 51px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 368px;
  }

  .u-section-1 .u-image-5 {
    height: 337px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 80px;
    margin-left: 51px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 368px;
  }

  .u-section-1 .u-image-6 {
    height: 337px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 80px;
    margin-left: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 258px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 43px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 258px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 43px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 258px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 43px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    height: 258px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 43px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    height: 258px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 43px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-6 {
    height: 258px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 43px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2396px;
  }

  .u-section-1 .u-image-1 {
    height: 581px;
  }

  .u-section-1 .u-image-2 {
    height: 581px;
  }

  .u-section-1 .u-image-3 {
    height: 581px;
  }

  .u-section-1 .u-image-4 {
    height: 581px;
  }

  .u-section-1 .u-image-5 {
    height: 581px;
  }

  .u-section-1 .u-image-6 {
    height: 581px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1589px;
  }

  .u-section-1 .u-image-1 {
    height: 366px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 366px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 366px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 366px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    height: 366px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    height: 366px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }
}